/* All styles for your header Components live here */
.headercontainer {
    display: flex;
}

.headercontainer img {
    width: 10%;
    height: 100%;
    padding-top: 15px;
    /* background-image: url(https://tk-assets.lambdaschool.com/1c1b7262-cf23-4a9f-90b6-da0d3c74a5c6_lambdacrest.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

.headercontent {
    padding-left: 20px;
}

.headertitlecontainer {
    display: flex;
    align-items: center;
}

.headertitlecontainer .headerhandle,
.headertitlecontainer .headertimestamp {
    margin: 0 20px;
    color: grey;
}

.headertimestamp {
    display: list-item;
    list-style-type: disc;
    
}